<div class="flex flex-col items-center my-8">
    <h1 class="text-3xl font-medium">{{ section.settings.title }}</h1>

    <div class="max-w-6xl mx-auto my-3">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            {% for collection in collections %}
                {% if collection.all_products_count > 0 %}
                    <div class="w-full py-6 px-3">
                        <div class="border bg-white overflow-hidden">
                            <a href="{{ collection.url }}">
                                <div class="h-80 overflow-hidden">
                                    {% if collection.featured_image != blank %}
                                        {% assign collection_image = collection.featured_image %}
                                    {% else %}
                                        {% assign collection_image = collection.products.first.image %}
                                    {% endif %}

                                    <img class="w-full h-full object-cover transition duration-1000 ease-in-out transform hover:scale-105" src="{{ collection_image | img_url: 'medium' }}" alt="{{ collection.title | escape }}">
                                </div>
                            </a>

                            <div class="p-4 bg-gray-100">
                                <h1 class="text-xl">{{ collection.title }}</h1>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% assign collection_handle = '628484374861' %}

<div class="flex flex-wrap justify-center">
  {% for product in collections[collection_handle].products %}
    <div class="max-w-xs rounded overflow-hidden shadow-lg m-4">
      <img class="w-full h-48 object-cover" src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
      <div class="p-4">
        <h2 class="font-bold text-xl mb-2">{{ product.title }}</h2>
        <p class="text-gray-700 text-base mb-4">{{ product.price | money }}</p>
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded transition-transform transform hover:scale-105 hover:bg-blue-600">
            Add to Cart
          </button>
        </form>
      </div>
    </div>
  {% endfor %}
</div>



{% schema %}
{
    "name": "Template List Collections",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Collections",
            "label": "Title"
        }
    ]
}
{% endschema %}